<section fxLayout="column" fxFlexAlign="stretch">
  <div fxFlexAlign="center">
    <p>Welcome to Magis HRMS</p>
  </div>

  <mat-tab-group (selectedTabChange)="executeSelectedChange($event)">
    <mat-tab label="About"> 
      <p>This is a sample application built using ASP.Net Core Web API, Angular and MySQL.</p>
      <p>This is a work in progress...</p> 
      <p>The Web API and Angular application is hosted in <a href="https://www.heroku.com/">Heroku</a> </p>
      <p>This is the Angular part of the project. Please click <a href="https://magishrms.herokuapp.com/swagger">here</a> for the Web API.</p>
      <p>Please log in using username: admin, password: @admin123</p>
    </mat-tab>
  </mat-tab-group>
</section>